<div class="preview">
    <div class="previewHeader">
        <div class="left">
            <p>[Course Family] | ID: 12345677</p>
        </div>
        <div class="right">
            <button (click)="goToHomePage()">EXIT PREVIEW</button>
        </div>
    </div>
    <div class="previewRest">
        <div class="previewRestQuestion">
            <p>Q 1: {{ getQuestion(0).name }}</p>
            <div class="">
                <i class="fa-solid fa-rotate-right fa-rotate-270" style="color: #1F7A54;"></i>
                <p>Reset</p>
            </div>
        </div>
        <div class="matchValues">
            <div class="questions">
                <div class="heading">
                    <p>{{ getQuestion(0).stimulusLabel }}</p>
                </div>
                <div class="rows">
                    <div *ngFor="let stimulus of getQuestion(0)?.stimuli; let i = index">
                        <p>{{stimulus.text}}</p>
                    </div>
                </div>
            </div>
            <div class="match">
            </div>
            <div class="responses">
                <div class="heading">
                    <p>{{ getQuestion(0).reponseLabel }}<p>
                </div>
                <div class="rows">
                    <div  *ngFor="let response of getQuestion(0)?.response; let j = index">
                        <p>{{ response.text }}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="checkBtn">
            <button>Check</button>
        </div>
        <div class="afterCheckBtns">
            <button>TRY AGAIN</button>
            <button>SHOW CORRECT ANSWER</button>
        </div>
        <div class="checkCorrectAns">
            <p>Correct Answer:</p>
            <div>
                <div>

                    <div class="questions">
                        <div class="heading">
                            <p>Fruits</p>
                        </div>
                        <div class="rows">
                            <div>
                                <p>Apple</p>
                            </div>
                        </div>
                    </div>
                    <div class="responses">
                        <div class="heading">
                            <p>Color</p>
                        </div>
                        <div class="rows">
                            <div>
                                <p>Orange</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>