<div class="preview">
    <div class="previewHeader">
        <div class="left">
            <p>[Course Family] | ID: 12345677</p>
        </div>
        <div class="right">
            <button>EXIT PREVIEW</button>
        </div>
    </div>
    <div class="previewRest">
        <div class="previewRestQuestion">
            <p>Q 1: Match the fruits with their color.</p>
            <div class="">
                <i class="fa-solid fa-rotate-right fa-rotate-270" style="color: #1F7A54;"></i>
                <p>Reset</p>
            </div>
        </div>
        <div class="matchValues">
            <div class="questions">
                <div class="heading">
                    <p>Fruits</p>
                </div>
                <div class="rows">
                    <div>
                        <p>Apple</p>
                    </div>
                    <div>
                        <p>Apple</p>
                    </div>
                    <div>
                        <p>Apple</p>
                    </div>
                </div>
            </div>
            <div class="match">
            </div>
            <div class="responses">
                <div class="heading">
                    <p>Color</p>
                </div>
                <div class="rows">
                    <div>
                        <p>Orange</p>
                    </div>
                    <div>
                        <p>Orange</p>
                    </div>
                    <div>
                        <p>Orange</p>
                    </div>

                </div>
            </div>
        </div>
        <div class="checkBtn">
            <button>Check</button>
        </div>
        <div class="afterCheckBtns">
            <button>TRY AGAIN</button>
            <button>SHOW CORRECT ANSWER</button>
        </div>
        <div class="checkCorrectAns">
            <p>Correct Answer:</p>
            <div>
                <div>

                    <div class="questions">
                        <div class="heading">
                            <p>Fruits</p>
                        </div>
                        <div class="rows">
                            <div>
                                <p>Apple</p>
                            </div>
                            <div>
                                <p>Apple</p>
                            </div>
                            <div>
                                <p>Apple</p>
                            </div>
                        </div>
                    </div>
                    <div class="responses">
                        <div class="heading">
                            <p>Color</p>
                        </div>
                        <div class="rows">
                            <div>
                                <p>Orange</p>
                            </div>
                            <div>
                                <p>Orange</p>
                            </div>
                            <div>
                                <p>Orange</p>
                            </div>
    
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>