<div class="mainContainer">
    <div class="maintop">
        <div class="backArrow">←</div>
        <p>Create New Question</p>
        <div class="buttons">
            <button>Cancel</button>
            <button>Publish</button>
            <button>Save ⬇</button>
        </div>
    </div>
    <div class="mainRest">
        <div class="mainRestTop">
            <p><span>Untitled</span> (Locked)</p>
            <div>
                <button>UNLOCK</button>
                <button>SAVE AND PREVIEW</button>
            </div>
        </div>
        <div class="mainRestTitle">
            <div class="mainRestTitleLeft">
                <p class="left-1">✐</p>
                <p class="left-2">Question Properties</p>
            </div>
            <div class="mainRestTitleMiddle"></div>
            <div class="mainRestTitleRight">
                <p class="right-1">2</p>
                <p class="right-2">Question Content</p>
            </div>
        </div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>