<div class="mainQuizView">
    <div class="maintop">
        <div class="backArrow">←</div>
        <p>Create New Course Quiz</p>
        <div class="buttons">
            <button>Cancel</button>
            <button>Publish</button>
            <button>Save ⬇</button>
        </div>
    </div>
    <div class="mainRest">
        <div class="mainRestTop">
            <p><span>Grade 5 - 8 FOSS Physics Formative Assessment</span> (Locked)</p>
            <div>
                <button>UNLOCK</button>
                <button>SAVE AND PREVIEW</button>
            </div>
        </div>
        <div class="mainRestTitle">
            <div class="mainRestTitleLeft">
                <p class="left-1">✐</p>
                <p class="left-2">Question Properties</p>
            </div>
            <div class="mainRestTitleMiddle">
                <p class="right-1">2</p>
                <p class="right-2">Question Content</p>
            </div>
            <div class="mainRestTitleRight">
                <p class="right-1">2</p>
                <p class="right-2">Question Content</p>
            </div>
        </div>
        <div class="selectTools">
            <p>SELECT TOOLS</p>
        </div>
        <div class="addFeedback">
            <p>ADD FEEDBACK</p>
        </div>
        <div class="previousBtn">
            <button>PREVIOUS</button>
        </div>
    </div>
    
</div>