@mixin CenterElement {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin StimulusDiv {
    >label {
        color: #666666;
        font-size: 12px;
    }

    >.multipleInputs {
        margin-top: 27px;
        width: 100%;

        >div {
            display: flex;


            >button {
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: #FFFFFF;
                border: 1px solid #0000001F;
            }

            >input {
                width: 100%;
                padding: 5px;
                outline: none;
                border: 1px solid #0000001F;

            }

            >button {
                border: 1px solid #0000001F;

            }
        }
    }

    >button {
        margin-top: 37px;
        width: 20%;
        background-color: #E2F8FE;
        border: 1px solid #7994B3;
        color: #222222;
        font-size: 14px;
        box-shadow: 0px 3px 6px #00000029;
        border-radius: 2px;
        padding: 5px;
    }
}

.mainQuizView {
    display: flex;
    flex-direction: column;

    // align-items: start;
    // justify-content: center;
    >.maintop {
        flex: 0.1;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #3C4E62;
        padding: 5px 10px;

        >.backArrow {
            color: #3FD28B;
            font-size: 24px;
        }

        >p {
            color: #FFFFFF;
            font-size: 16px;
        }

        >.buttons {
            >button {
                background-color: #3FD28B;
                border: none;
                padding: 5px 15px;
                margin-right: 10px;
            }
        }
    }

    >.mainRest {
        flex: 0.9;
        background-color: #EEEEEE;
        padding: 10px 15px;

        >.mainRestTop {
            display: flex;
            align-items: center;
            justify-content: space-between;
            // padding: 15px 10px;

            >p {
                color: #666666;
                font-size: 12px;
                font-weight: 500;

                >span {
                    color: #222222;
                    font-size: 20px;
                    font-weight: 600;
                }
            }

            >div {
                >button {
                    background-color: #E2F8FE;
                    border: 1px solid #7994B3;
                    color: #222222;
                    padding: 2px 10px;
                    font-size: 14px;
                    margin-right: 10px;
                }
            }
        }

        >.mainRestTitle {
            background-color: #FFFFFF;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 5px 10px;

            >.mainRestTitleLeft {
                @include CenterElement();
                padding: 0px 10px;

                >.left-1 {
                    background-color: #3FD28B;
                    padding: 5px;
                    border-radius: 50%
                }

                >.left-2 {
                    margin-left: 5px;
                    color: #222222;
                    font-size: 16px;
                    font-weight: 600;
                }
            }

            >.mainRestTitleMiddle {
                @include CenterElement();
                padding: 0px 10px;

                >.middle-1 {
                    background-color: #3FD28B;
                    padding: 5px;
                    border-radius: 50%
                }

                >.middle-2 {
                    margin-left: 5px;
                    color: #222222;
                    font-size: 16px;
                    font-weight: 600;
                }
            }

            >.mainRestTitleRight {
                @include CenterElement();
                padding: 0px 10px;


                >.right-1 {
                    background-color: #3FD28B;
                    padding: 5px;
                    border-radius: 50%
                }

                >.right-2 {
                    margin-left: 5px;
                    color: #222222;
                    font-size: 16px;
                    font-weight: 600;
                }
            }
        }

        >.checkErrors {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 15px 0;

            >button {
                background: #E2F8FE 0% 0% no-repeat padding-box;
                box-shadow: 0px 3px 6px #0000003D;
                border: 1px solid #7994B3;
                border-radius: 2px;
                padding: 5px 15px;
            }
        }

        >.selectTools {
            display: flex;
            flex-direction: column;

            >.scoringHeaderTile {
                background-color: #FFFFFF;

                display: flex;
                align-items: center;
                justify-content: space-between;
                border-bottom: 1px solid lightgray;

                >p {
                    padding: 0 20px;
                    color: #222222;
                    font-size: 16px;
                    font-weight: 600;
                }

                >button {
                    background-color: #FFFFFF;
                    color: #1F7A54;
                    font-size: 24px;
                    height: 100%;
                    padding: 15px;
                    border: 1px solid lightgray;
                }
            }

            >.scoringMainTile {
                background-color: #FFFFFF;
                padding: 10px 20px;

                >.p-1 {
                    margin: 0;
                    color: #666666;
                    font-size: 12px;
                }


                >.radioBtns {
                    // margin-top: 14px;
                    display: flex;

                    >div {
                        display: flex;
                        align-items: center;

                        >input {
                            width: 20px;
                            height: 24px;
                            color: #1F7A54;
                        }



                        >p {
                            color: #040404;
                            font-size: 16px;
                            font-weight: 600;
                            margin-left: 3px;
                        }
                    }

                    >:nth-child(2) {
                        margin-left: 10px;
                    }
                }

                >.maxConnections {
                    display: flex;
                    align-items: center;
                    // justify-content: center;
                    margin-top: -16px;

                    >p {
                        color: #222222;
                        font-size: 16px;
                        font-weight: 600;
                    }

                    >select {
                        border: none;
                        color: #666666;
                        border-bottom: 1px solid #666666;
                        margin-left: 5px;
                        padding: 5px;
                    }
                }

                >.p-2 {
                    margin: 0;
                    color: #666666;
                    font-size: 12px;
                }

                >.scoringBtns {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-top: 20px;

                    >button {
                        margin: 0 10px;
                        background: #3FD28B 0% 0% no-repeat padding-box;
                        box-shadow: 0px 3px 6px #00000029;
                        border-radius: 2px;
                        border: none;
                        padding: 5px 15px
                    }
                }
            }

        }

        >.addFeedback {
            // background-color: #FFFFFF;
            display: flex;
            flex-direction: column;
            margin-top: 20px;

            >.scoringHeaderTile {
                background-color: #FFFFFF;

                display: flex;
                align-items: center;
                justify-content: space-between;
                border-bottom: 1px solid lightgray;

                >div {
                    >p {
                        margin: 0;
                        padding: 0 20px;
                        color: #222222;
                        font-size: 16px;
                        font-weight: 600;

                        &:nth-child(2) {
                            color: #666666;
                            font-size: 12px;
                            margin-top: 10px;
                        }
                    }
                }

                >button {
                    background-color: #FFFFFF;
                    color: #1F7A54;
                    font-size: 24px;
                    height: 100%;
                    padding: 15px;
                    border: 1px solid lightgray;
                }
            }

            >.assignMarks {
                background-color: #FFFFFF;

                >.assignMarksHeader {
                    display: flex;
                    align-items: center;
                    border-bottom: 1px solid lightgray;


                    >.index {
                        flex: 0.1;
                        border-right: 1px solid lightgray;

                        >p {
                            display: flex;
                            align-items: end;
                            justify-content: end;
                            padding: 0 10px;
                            font: normal normal medium 14px/18px Quicksand;
                            letter-spacing: 0px;
                            color: #222222;
                        }
                    }

                    >.details {
                        flex: 0.7;
                        border-right: 1px solid lightgray;
                        display: flex;
                        align-items: center;
                        padding: 0 10px;


                        >img {
                            background-position: center;
                            width: 32px;
                            height: 32px;
                        }

                        >div {

                            >p {
                                font: normal normal medium 14px/18px Quicksand;
                                letter-spacing: 0px;
                                color: #1F7A54;
                                font-size: 14px;
                                margin: 0;
                            }

                            >span {
                                font: normal normal medium 12px/16px Quicksand;
                                letter-spacing: 0px;
                                color: #666666;
                                font-size: 12px;
                                margin-top: 3px;
                            }
                        }

                    }

                    >.edit {
                        flex: 0.2;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        padding: 0 20px;


                        >p {
                            font: normal normal medium 14px/18px Quicksand;
                            letter-spacing: 0px;
                            color: #1F7A54;
                        }

                    }
                }

                >.assignMarksTile {
                    padding: 20px 30px;

                    >div {
                        background-color: #F3FBFF;
                        padding: 20px;
                        border-radius: 10px;

                        >p {
                            font: normal normal medium 12px/16px Quicksand;
                            letter-spacing: 0px;
                            color: #666666;
                        }

                        >.radioBtns {
                            // margin-top: 14px;
                            display: flex;

                            >div {
                                display: flex;
                                align-items: center;

                                >input {
                                    width: 20px;
                                    height: 24px;
                                    color: #1F7A54;
                                }



                                >p {
                                    color: #040404;
                                    font-size: 16px;
                                    font-weight: 600;
                                    margin-left: 3px;
                                }
                            }

                            >:nth-child(2) {
                                margin-left: 10px;
                            }
                        }

                        >.giveMarks {

                            position: relative;
                            border-bottom: 1px solid #0000001F;
                            padding-bottom: 10px;
                            >p {
                                text-align: left;
                                font: normal normal medium 14px/20px Quicksand;
                                letter-spacing: 0px;
                                color: #666666;
                            }

                            >span {
                                text-align: left;
                                font: normal normal medium 16px/20px Quicksand;
                                letter-spacing: 0px;
                                color: #222222;
                            }

                            >input{
                                position: absolute;
                                right: 0;
                                border: none;
                                border-bottom: 1px solid black;
                                background-color: transparent;
                                outline: none
                            }
                        }
                    }


                }
            }
        }

        >.previousBtn {
            @include CenterElement();
            margin-top: 37px;

            >button {
                background-color: #3FD28B;
                border-radius: 2px;
                padding: 5px 10px;
                border: none;

            }
        }
    }
}